h2 {
	color: #05a19c;
}
a {
	color: #ffe837;
}

.jumbotron,
.footer {
	background-color: #02576c;
	color: #ffffff;
}

.history {
	margin-top: 50px;
}

.history,
.footer {
	padding: 50px 0;
}

.history-rider {
	padding-bottom: 30px;
}
.history,
.corporate {
	padding: 0 30px;
}

.corporate {
	padding-top: 30px;
	padding-bottom: 50px;
}
